@charset "utf-8";

$body-background-color: #333333;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

.page-about {
  background-color: #BCD39C;
}

.page-contact {
  background-color: #FCFF4B;
}

.page-lander {
  background-color: #0B4F6C;
  .title, .subtitle { color: #fff; }
}

.page-portfolio {
  background-color: #B4E33D;
}
